body {
   background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #4e0342;
}

.weather-app {
  background: rgb(252, 245, 245);
  max-width: 500px;
  margin: 60px auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 30px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

#search-form {
  display: flex;
  gap: 10px;
}

.search-form-input {
 flex: 1;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;;
}

.search-form-button {
  background: #f83ab9;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: rgb(248, 203, 226);
}
.search-form-button:hover {
  background-color: #8d4073;
}
main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  color: #181616;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #d83d51;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #fdcef3;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}