body {
   background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #4e0342;
  text-decoration: none;
}

.weather-app {
  background: rgb(252, 245, 245);
  max-width: 500px;
  position: relative;
  overflow: hidden;
  margin: 40px auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 25px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

 .search-form-input {
  margin-top: 40px;
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 55%;
  font-size: 16px;
  padding: 12px 18px;
}

.search-form-button {
  background: #d646a6;
  padding: 12px 18px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;}

.search-form-button:hover {
  background-color: #8d4073;
}
main {
  padding: 20px 0;
}
.weather-app {
  max-width: 600px; 
  margin:  20px auto;
  padding: 30px;
  background: #f8f8f8;
 
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-app-city {
  margin: 0;
  font-size: 40px;
  color: #59075c;
  line-height: 1.3;
   }

#time {
  color: rgba(39, 33, 66, 0.7); 
  font-weight: 700;
}

.weather-app-details {
  font-size: 18px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 600;
  display:inline-block;
}

.weather-app-details strong {
  color: #f87082;
}

.weather-app-temperature-container {
  display: flex;
  align-items: center;
  
  
}

.weather-app-icon {
 width: 40px;
height: 40px;
margin-top: 22px;
 
}

.weather-app-temperature {
  font-size: 70px;
  margin:0 10px;
  margin-top: 5px;
  font-weight: bold;
     
}

.weather-app-unit {
  color: #660351;
   margin:auto;
  font-size: 32px;
 
}

footer {
  border-top: 1px solid #fdcef3;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
footer a {
  color: #6200ea;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

  @media (max-width: 100px) {
  .weather-app {
    margin: 20px;
    padding: 20px;
  }
  }